<?php

    /**
     * It is necessary to define the values ​​for Server, Database, Username and Password.
     *
     * Server = Host used to host the database.
     * Database = Name of the database to be used.
     * Username = Database connection user.
     * Password = Password for connecting to the database.
     *
     * @return array
     */

    return [
        'class' => 'yii\db\Connection',
        'dsn' => 'sqlsrv:Server=;Database=;TrustServerCertificate=true',
        'username' => '',
        'password' => '',
        'charset' => 'utf8',

        'enableSchemaCache' => true,
        'schemaCacheDuration' => 60,
        'schemaCache' => 'cache',
    ];